<%- include("../partials/header", {title, links}) %>
  <h1>
    <%= title %>
  </h1>
  
  <ul>
    <% messages.forEach((message)=> { %>
      <li>
        <span>
          <%= message.username %>:
        </span>

        <span>
          <%= message.text %>
        </span>

        <a href="/messages/<%= message.id %>">
          Message Details
        </a>
      </li>

      <% }); %>
  </ul>
  <%- include("../partials/footer") %>