<%- include("../partials/header", {title, links}) %>
<h1>
  <%= title %>
</h1>
<p>User: <%=message.username %></p>
<p>Message: <%=message.text %></p>
<p>Time: <%=message.created_at %></p>

<%- include("../partials/footer") %>